*.py
*.bat
.env
bin/
.vs/
obj/
TestProject
backend/API/wwwroot/Images/*
backend/API/wwwroot/is-cache
backend/Properties/PublishProfiles
backend/MigrationService
!backend/API/wwwroot/Images/Default.webp
!db_filler.py
nginx/