[submodule "AIS"]
	path = AIS
	url = https://github.com/moytqq/AIS.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/moytqq/AIS.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/moytqq/AIS.git
