name: AI
services:
  server:
    user: root
    build:
      context: ./backend
    environment:
      - ASPNETCORE_HTTP_PORTS=${HTTP_PORT}
      - ASPNETCORE_HTTPS_PORTS=${HTTPS_PORT}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PW}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pfx
    env_file: .env
    ports:
      - ${HTTP_PORT}:${HTTP_PORT}
      - ${HTTPS_PORT}:${HTTPS_PORT}
    volumes:
      - ${CERT_PATH}:/https:ro
      - images:/app/wwwroot/Images
    depends_on:
      db:
         condition: service_healthy
  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports:
      - "6432:${DATABASE_PORT}"
    healthcheck:
     test: [ "CMD", "pg_isready" ]
     interval: 10s
     timeout: 5s
     retries: 5

volumes:
  db-data:
  images:
